<div data-fls-index class="index index_margin-top">
	<div class="index__promo-mirror">
		<section class="hero">
			<div class="hero__container">
				<div class="hero__content">

					<div class="hero__rating rating-hero">
						<div class="rating-hero__avatars">
							<div class="rating-hero__avatar">
								<img src="@img/hero/our-clients-1.jpg" alt="User 1">
							</div>
							<div class="rating-hero__avatar">
								<img src="@img/hero/our-clients-2.jpg" alt="User 2">
							</div>
							<div class="rating-hero__avatar">
								<img src="@img/hero/our-clients-3.jpg" alt="User 3">
							</div>
							<div class="rating-hero__avatar">
								<img src="@img/hero/our-clients-4.jpg" alt="User 4">
							</div>
						</div>
						<div class="rating-hero__info">
							<div class="rating-hero__stars">
								<span class="--icon-star"></span>
								<span class="--icon-star"></span>
								<span class="--icon-star"></span>
								<span class="--icon-star"></span>
								<span class="--icon-star"></span>
							</div>
							<p class="rating-hero__text">115+ happy clients</p>
						</div>
					</div>

					<h1 class="hero__title">
						Automate <span>Intelligence</span>. <br> Accelerate Growth.
					</h1>

					<p class="hero__text">
						Our AI-powered SaaS platform empowers businesses to streamline operations, automate repetitive tasks, and
						make smarter,
						data-driven decisions—all from one intuitive dashboard.
					</p>

					<div class="hero__actions">
						<a href="#" class="hero__button hero__button--primary">Get Started</a>
						<a href="#" class="hero__button hero__button--secondary">See Details</a>
					</div>

				</div>
			</div>
		</section>



		<section class="stats">
		</section>
	</div>
</div>