:root {
  /* Шрифт по умолчанию */
  --font-family: Sk;
  /* Размер шрифта по умолчанию (де 16 - размер шрифта по умолчанию с макета)  */
  --font-size: 16px;
  /* Основные цвета */
  --main-color: #ffffff;

  --bg-color: #010101;

  --accent-color: #ff541f;

  --bg-glow: #00143f;
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}
